.MainHeading {
  margin-top: 40px;
  text-shadow: 2px 2px 2px grey;
}

table {
  border-collapse: collapse;
  width: 50%;
  margin: 10px auto;
  text-align: center;
  box-shadow: 5px 5px 5px grey;
}

tr {
  border: 1px solid black;
}

.TableData {
  padding: 10px;
}

.Caption {
  font-size: 25px;
}

span {
  color: rgb(245, 8, 8);
  text-shadow: 2px 2px 2px grey;
}

button:hover{
  cursor: pointer;
  background-color: grey;
}

.CountryScores{
  display: flex;
  flex-direction: column;
  align-items: center;
}